.upArrow:hover {
  animation: arrow 1.5s ease infinite;
}

@keyframes arrow {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(0, -5px);
  }

  100% {
    transform: translate(0);
  }
}

/* Mobile */
@media (max-width: 900px) {
  .upArrow {
    bottom: 20px;
    right: 1px;
    text-align: center;
    margin: auto;
    display: none;
  }
}
