
#industryCertsTitle,
#OnlineCertsTitle {
  font-size: 40pt;
  text-align: center;
  margin-top: 6rem;
  text-shadow: var(--shadow);
}

.industryCerts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 10%;
}

#javaPGcert,
#webPGcert {
  width: 30%;
  border-color: black;
  border-width: 2px;
}

#aws,
#awsCP {
  width: 30%;
}

.certImages {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.certImages img {
  align-items: center;
  position: relative;
  border: 3px solid black;
  box-shadow: var(--shadow);
  width: 20%;
  margin: 1rem;
  transition-duration: 1s;
}

.certImages img:hover {
  border: 10px solid tomato;
}

.toTop {
  width: fit-content;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}

#toTopText {
  font-family: monospace;
  font-size: 12pt;
}

#arrow {
  width: 50px;
}

#arrow:hover {
  animation: arrow 1.5s ease infinite;
}

timeline of hover animation
@keyframes arrow {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, -15px);
  }
  100% {
    transform: translate(0);
  }
}

hr {
  width: 85%;
}

@media (max-width: 800px) {
  #industryCertsTitle,
  #UniCertsTitle,
  #OnlineCertsTitle {
    font-size: 25pt;
  }

  .uniCerts,
  .industryCerts {
    display: grid;
    grid-template-columns: 1fr;
  }

  #javaPGcert,
  #webPGcert {
    width: 80%;
    margin: auto;
    margin-bottom: 10%;
  }

  #aws,
  #awsCP {
    top: 0;
    width: 60%;
    height: auto;
    margin: auto;
    margin-bottom: 15%;
  }

  .certImages {
    display: grid;
    grid-template-columns: 1fr;
  }

  .certImages > img {
    width: 80%;
    pointer-events: none;
    margin: auto;
    margin-bottom: 10%;
  }
}
