:root {
  --textColour: rgb(200, 200, 200);
  --navColour: #333;
  --shadow: 1px 1px 1px black;
  --textShadow: 1px 1px 1px black;
  --cabinFont: "Cabin", sans-serif;
  --backgroundColour: black;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Cabin", sans-serif;
  height: 100vh;
  background: var(--backgroundColour);
  background-attachment: fixed;
  font-weight: lighter;
}
