:root {
  --textColour: rgb(164, 218, 234);
  --navColour: #333;
  --shadow: 4px 4px 6px black;
  --textShadow: 1px 1px 1px black;
  --cabinFont: "Cabin", sans-serif;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Cabin", sans-serif;
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  background-attachment: fixed;
  color: var(--text-colour);
  font-weight: lighter;
}
