:root {
  --textColour: rgb(200, 200, 200);
  --navColour: #333;
  --shadow: 1px 1px 1px black;
  --textShadow: 1px 1px 1px black;
  --font: "Nunito Sans", sans-serif;
  --bg: #f0f0eb;
  --text: #000;
}

.dark {
  --bg: #272727ff;
  --text: #e0e0e0;
}

body {
  margin: 0;
  font-family: var(--font);
  letter-spacing: 0.75px;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.home-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
