#header {
  color: var(--text-colour);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  text-shadow: 1px 1px 1px black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#title {
  animation: titleFadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  padding-top: 3%;
}

#mainphoto {
  width: 25rem;
  border-radius: 8%;
  margin: auto;
  box-shadow: 1px 1px 2px black;
  margin-top: 15%;
  animation: mainImageFadeIn ease 3s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes mainImageFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titleFadeIn {
  0% {
    opacity: 0;
    color: tomato;
    font-size: 12pt;
  }

  100% {
    opacity: 1;
    color: tomato;
    font-size: 100pt;
    text-shadow: 3px 3px 5px black;
  }
}

#SEtitle {
  color: var(--text-colour);
  font-size: 20pt;
  margin: auto;
}

.subTitle {
  text-align: center;
  font-weight: 500;
  margin: 0;
}

blink {
  -webkit-animation: 1.5s linear infinite condemned_blink_effect;
  animation: 1.5s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

#location {
  margin: auto;
}

@media (max-width: 1000px) {
  #title {
    font-size: 40pt;
    margin: auto;
  }

  #mainphoto {
    width: 20rem;
  }
}

@media (max-width: 900px) {

  #header {
    grid-template-columns: 1fr;
    width: 50%;
    margin: auto;
  }

  #mainphoto {
    box-shadow: var(--shadow);
    width: 20rem;
    margin-bottom: 15px;
    margin-top: 10%;
  }

  #location {
    margin-top: 50px;
    font-size: 12pt;
  }

  .subTitle {
    margin-top: 5%;
    font-size: 15pt;
    text-align: center;
  }
}
