#header {
  color: var(--text-colour);
  margin: auto;
  display: block;
  position: relative;
  width: 80%;
  text-shadow: 0.5px 1px 2px black;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  animation: titleFadeIn ease 3s;
  animation-fill-mode: both;
  text-align: left;
  font-weight: 600;
  font-size: 5rem;
  padding-top: 6rem;
  margin-bottom: 0;
}

#mainphoto {
  position: absolute;
  top: 4.5rem;
  right: 0;
  width: 14rem;
  margin: 0 2rem 0 0;
  box-shadow: 2px 2px 2px black;
  border-radius: 50%;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes mainImageFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titleFadeIn {
  0% {
    opacity: 0;
    color: tomato;
  }

  100% {
    opacity: 1;
    color: tomato;
    text-shadow: 2px 2px 2px black;
  }
}

.subTitle {
  color: var(--text-colour);
  font-size: 4rem;
  margin: auto;
  text-align: left;
  font-weight: bold;
  margin: 0;
}

#location {
  display: flex;
  margin: 0;
  padding-top: 0.5rem;
  font-size: 1.2rem;
  text-align: left;
}

@media (max-width: 1050px) {
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 5rem;
    position: static;
    text-align: center;
  }
  .header-text {
    align-items: center;
    width: 100%;
  }
  .title,
  .subTitle {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #mainphoto {
    position: static;
    display: block;
    margin: 2rem auto 1rem auto;
    width: 15rem;
    box-shadow: 2px 2px 2px black;
  }
  #location {
    margin: 1.5rem;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 600px) {
  #header {
    padding-top: 2rem;
  }

  .title {
    font-size: 3rem;
    padding-top: 1.5rem;
  }

  .subTitle {
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  #mainphoto {
    width: 12rem;
  }

  #location {
    font-size: 1rem;
    justify-content: center;
  }

  hr {
    margin-top: 1.5rem !important;
  }
}
