nav {
  position: fixed;
  display: flex;
  font-family: var(--font);
  justify-content: right;
  font-size: 14pt;
  background-color: var(--navColour);
  box-shadow: var(--shadow);
  z-index: 3;
  width: 100%;
  top: 0;
}

nav * {
  color: rgb(152, 204, 179);
  text-decoration: none;
  align-items: center;
  border-radius: 10px;
  margin-right: 5px;
  justify-content: center;
  display: flex;
  padding: 0 0.7rem;
  height: 40px;
}

.nav-button {
  text-decoration: none;
  background: none;
  cursor: pointer;
  transition: background 0.5s;
}

.nav-button:hover {
  background: tomato;
  color: white;
}

.nav-button.active {
  background: #c2c5c7;
  color: black;
}

.themeToggle {
  position: fixed;
  left: 0.5rem;
}

.top-bar {
  display: flex;
  z-index: 10;
}

.top-bar-icons {
  margin-left: 4rem;
  position: fixed;
  gap: 1rem;
  top: 0.3rem;
}

@media (max-width: 1000px) {
  nav {
    position: relative;
    flex-direction: column;
    width: 40%;
    font-size: 15pt;
    margin: auto;
    border-radius: 30px;
    padding-top: 1%;
    margin-top: 7%;
    margin-bottom: 1rem;
  }

  nav * {
    margin: auto;
  }

  .themeToggle * {
    position: static;
    top: -0.5rem;
    left: 0.6rem;
  }

  .top-bar-icons {
    position: static;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: 1rem;
  }
}
