.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  display: flex;
  align-items: center;
  font-family: var(--font);
  justify-content: right;
  font-size: 16pt;
  background-color: var(--navColour);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px 0 rgba(30, 50, 40, 0.12),
    0 1px 3px 0 rgba(30, 50, 40, 0.06);
  margin-bottom: 2rem;
}

.nav * {
  color: var(--navTextColour);
  text-decoration: none;
  align-items: center;
  border-radius: 10px;
  margin-right: 5px;
  justify-content: center;
  display: flex;
  padding: 0 0.7rem;
  height: 60px;
}

.nav-button {
  text-decoration: none;
  background: none;
  cursor: pointer;
  transition: background 0.5s;
}

.nav-button:hover,
.home-button:hover {
  background: tomato;
  color: white;
}

.nav-button.active,
.home-button.active {
  background: tomato;
  color: white;
}

.dark .nav-button.active,
.dark .home-button.active,
.dark .home-button.active svg {
  color: black;
}

.themeToggle {
  pointer-events: all;
}

.top-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 101;
  pointer-events: none;
}

.top-bar > * {
  pointer-events: all;
}

.top-bar-icons {
  margin-left: 4rem;
  position: fixed;
  gap: 1rem;
  top: 0.3rem;
}

@media (max-width: 1000px) {
  .top-bar {
    background: transparent;
    box-shadow: none;
    margin-bottom: 3rem;
  }
}
