nav {
  position: fixed;
  display: flex;
  font-family: var(--cabinFont);
  justify-content: right;
  font-size: 15pt;
  background-color: var(--navColour);
  box-shadow: var(--shadow);
  z-index: 3;
  width: 100%;
  top: 0;
}

nav * {
  color: rgb(207, 238, 250);
  text-decoration: none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 8px;
  margin-right: 5px;
}

.nav-button {
  text-decoration: none;
  color: whitesmoke;
  background: none;
  cursor: pointer;
  transition: background 0.5s;
}

.nav-button:hover {
  background: tomato;
}

.nav-button.active {
  pointer-events: none;
  color: tomato;
}

@media (max-width: 600px) {
  nav {
    position: relative;
    flex-direction: column;
    z-index: 4;
    width: 60%;
    font-size: 20pt;
    top: 5px;
    margin: auto;
    border-radius: 10px;
    margin-top: 5%;
  }

  nav * {
    padding-bottom: 7px;
    text-align: center;
    margin-right: 0px;
  }
}
