body {
  color: var(--textColour);
  margin: auto;
}

h2 {
  text-align: center;
  padding-top: 200px;
}

#gitHubLink {
  color: tomato;
  text-decoration: none;
}

#gitHubLink:hover {
  color: rgb(98, 208, 164);
}
