footer {
  background-color: var(--navColour);
  color: var(--textColour);
  font-size: 15px;
  text-align: center;
  padding: 0.4rem;
  margin-top: 4rem;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
