#buttonDiv {
  padding: 5%;
  display: flex;
  justify-content: center;
}

button {
  background-color: var(--textColour);
  color: black;
  width: 25%;
  font-weight: 500;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  opacity: 0.7;
  cursor: pointer;
}

button:hover {
  color: var(--textColour);
  background-color: var(--navColour);
  transition-duration: 0.2s;
  border: 2px solid tomato;
  box-shadow: 1px 4px 1px black;
  opacity: 1;
}

button.active {
  background-color: tomato;
}
