.icons {
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
  gap: 0.5rem;
}

.icons a {
  padding: 5px;
  transition: background 0.5s, box-shadow 0.3s;
}

.icon {
  cursor: pointer;
  transition: color 0.5s;
  border-radius: 8px;
}

.cvicon:hover {
  color: black !important;
  background: #fdfd96;
}

.githubicon:hover {
  color: black !important;
  background: #faf8f6;
}

.linkedinicon:hover {
  color: black !important;
  background: #0072b1;
}

.emailicon:hover {
  color: black !important;
  background: #ff6961;
}
