.icons {
  margin: auto;
  margin-top: 7%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

#cvicon,
#github,
#linkedin,
#gmail {
  width: 3rem;
}

#gmail {
  margin-top: 5%;
}

#cvicon:hover,
#github:hover,
#linkedin:hover,
#gmail:hover {
  transition-duration: 0.8s;
  transform: scale(1.1);
  box-shadow: 3px 3px 3px black;
  border-radius: 5px;
  border: 2px solid tomato;
  background: var(--navColour);
  padding: 5px;
}

@media (max-width: 780px) {
  .icons {
    display: flex;
    flex-direction: column;
    padding-left: 19%;
    padding-top: 11%;
  }

  .icons * {
    padding-top: 12%;
    padding-bottom: 7%;
    width: 60%;
  }

  #cvicon,
  #github,
  #linkedin,
  #gmail {
    width: 4rem;
    pointer-events: none;
  }

  #cvicon:hover,
  #github:hover,
  #linkedin:hover,
  #gmail:hover {
    padding: 12px;
    /* pointer-events: none; */
  }
}
