.icons {
  margin: auto;
  margin-top: 5rem;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

@media (max-width: 780px) {
  .icons {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 5rem;
  }
  .icons * {
    margin-top: 10%;
  }
}
