:root {
  --textColour: rgb(195, 233, 248);
  --nav-colour: #333;
  --shadow: 4px 4px 6px black;
  --textShadow: 1px 1px 1px black;
}

html,
body {
  height: 100%;
  font-family: "Cabin", sans-serif;
  color: rgb(207, 238, 250);
  margin: 0;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  background-attachment: fixed;
}

hr {
  width: 85%;
}

/* TABLET - keep in App.css */
@media (max-width: 1400px) {
  #background {
    width: 100%;
    height: 100%;
  }

  #mainphoto {
    width: 50%;
  }

  #aboutMeButton {
    width: 40%;
    font-size: 3vh;
  }

  #scroll {
    display: none;
  }

  .certImages > img {
    pointer-events: none;
  }

  #aws {
    pointer-events: none;
    box-shadow: none;
  }
}

/* MOBILE - keep in App.css */

@media (max-width: 900px) {
  #background {
    width: 100%;
    height: 100%;
  }

  #home {
    margin-right: 0px;
  }

  #mainphoto {
    box-shadow: var(--shadow);
    width: 40%;
    margin-bottom: 15px;
  }

  #ABOUTME img {
    box-shadow: var(--shadow);
  }

  #header {
    grid-template-columns: 1fr;
  }

  #location {
    margin-top: 15px;
    font-size: 12pt;
  }

  #subTitle {
    margin-top: 5%;
    font-size: 13pt;
    text-align: center;
  }

  #title {
    text-shadow: 5px 5px 7px black;
    text-align: center;
    font-size: 60pt;
  }

  @keyframes titleFadeIn {
    0% {
      opacity: 0;
      color: tomato;
      font-size: 9pt;
    }

    100% {
      opacity: 1;
      color: whitesmoke;
      font-size: 50pt;
      text-shadow: 5px 5px 7px black;
    }
  }

  .iconLinks {
    display: flex;
    flex-direction: column;
    padding-left: 19%;
    padding-top: 15%;
  }

  .iconLinks * {
    padding-top: 10%;
    padding-bottom: 5%;
    width: 60%;
    text-align: center;
    justify-content: center;
  }

  #cvicon {
    width: 33%;
  }

  #cvicon:hover {
    padding: 10px;
  }

  #gmail {
    width: 33%;
    left: 1px;
  }

  #gmail:hover {
    padding: 10px;
  }

  #github {
    width: 35%;
  }

  #github:hover {
    padding: 10px;
  }

  #linkedin {
    width: 33%;
  }

  #linkedin:hover {
    padding: 10px;
  }

  #scroll {
    display: none;
    width: 5%;
  }

  .nav {
    position: relative;
    flex-direction: column;
    z-index: 4;
    width: 60%;
    font-size: 20pt;
    top: 5px;
    margin: auto;
    border-radius: 10px;
  }

  .nav * {
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
    margin-right: 0px;
  }

  #aboutMeButton {
    background-color: #333;
    border: 2px solid tomato;
    box-shadow: var(--shadow);
    color: whitesmoke;
    width: 70%;
    font-size: 15pt;
    padding: 10px;
    opacity: 1;
  }

  .aboutMeContent * {
    font-size: 18pt;
    font-weight: 400;
  }

  .aboutMeContent {
    width: 70%;
  }

  .coleNanook {
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    text-align: justify;
    align-items: center;
  }

  #coleNanookIMG {
    margin-bottom: 5%;
    margin-left: 50px;
  }

  .Rwanda1Div {
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    text-align: justify;
    align-items: center;
  }

  .Rwanda1Div img:nth-of-type(2) {
    order: 1;
  }

  .Rwanda1Div p:nth-of-type(1) {
    order: 2;
  }

  #rwanda1IMG {
    margin-bottom: 5%;
    margin-top: 5%;
    place-content: center;
  }

  #extraPhotos {
    flex-direction: column;
    margin: auto;
    width: 100%;
  }

  #kenya {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  #elephant {
    width: 50%;
    margin-top: 40px;
  }

  .Rwanda2Div {
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    text-align: justify;
    align-items: center;
  }

  #rwanda2IMG {
    margin-bottom: 5%;
  }

  .OtagoDiv {
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    text-align: justify;
    align-items: center;
  }

  #otagoImages {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
  }

  #otagoIMG {
    width: 60%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 65px;
  }

  #otagoGradIMG {
    width: 70%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 45px;
  }

  .flyingDiv {
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    text-align: justify;
    align-items: center;
  }

  #flyingIMG {
    margin-bottom: 5%;
    margin-top: 5%;
    place-content: center;
  }

  .XeroDiv {
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    text-align: justify;
    align-items: center;
  }

  #xeroIMG {
    margin-bottom: 5%;
    margin-top: 5%;
    place-content: center;
  }

  .certImages {
    display: grid;
    grid-template-columns: 1fr;
  }

  .certImages > img {
    width: 80%;
    pointer-events: none;
    margin: auto;
    margin-bottom: 10%;
  }

  #aws {
    pointer-events: none;
    box-shadow: none;
  }

  .toTop {
    bottom: 20px;
    right: 1px;
    text-align: center;
    margin: auto;
  }
}
