#UniCertsTitle {
  font-size: 40pt;
  text-align: center;
  margin-top: 7rem;
  text-shadow: var(--shadow);
}

.uniCerts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 3%;
  width: 95%;
  margin-bottom: 4rem;
}

.uniCerts img {
  position: relative;
  margin: 1rem;
  transition-duration: 1s;
}

#softwarePGcert,
#otagoDegree {
  width: 30%;
}

@media (max-width: 900px) {

  #softwarePGcert, #javaPGcert, #webPGcert {
    width: 80%;
  }

  #otagoDegree {
    width: 65%;
  }
}
